div {
    font-family: Arial;
}

.container { 
    border-color: rgb(200, 200, 200);
    width: 300px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.flexbox { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
}

.notifications {
    background-color:rgb(49, 109, 245);
    color: white;
    border-radius: 20px;
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bold;

}