div {
    font-family: Arial;
}

.header {
    background-color: rgb(120, 82, 178);
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.section1 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}


.text-box {
    width: 500px;
    border: none;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border-radius: 15px;
    padding-left: 20px;
}


.download-button {
    color: white;
    background-color: rgb(120, 82, 178);
    border-width: 1px;
    font-size: 16px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    padding-left: 15px;


}


