.flexbox {
    display: flex;
    height: 50px;
}

.item1 {
    background-color: black;
    color: white;
   
}

.column2 {
    background-color: lightblue;
    width: 200px;
}

.column1 {
    background-color: lightpink;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}