body {
    height: 3000px
}

.right-sidebar {
    position: fixed;
    background-color: green;
    width: 100px;
    top: 0;
    right: 0;
    bottom: 0;
    color: white;
}


.flexbox {
    width: 300px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}


.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 12px;
}

.subtitle {
    font-size: 18px;
    font-family: Arial;
    margin-bottom: 12px; 
}