.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    
    
}