body {
    height: 3000px;
}

.close-button {
    position: absolute;
    top: -18px;
    right: -18px;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    
    
}


.grey-box {
    position: fixed;
    width: 320px;
    background-color: grey;
    height: 180px;
    bottom: 20px;
    right: 20px;
    


}