body {
    height: 3000px;
}

.container { 
    display: inline-block;
    position: relative; 
}

.shirt {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.discount-box {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial;
}

