.amazon-tag {
    color: rgb(0,113,133);
}


.nike-tag { 
  font-weight: bold;
  font-size: 24px;
}


.stock-tag { 
  color: rgb(0,118,0);
  font-weight: bold;
  font-size: 20px;
}

.add-cart {
  background-color: rgb(255,216,20);
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 15px;
  font-weight: bold;
  margin-right: 8px;
  cursor: pointer;


}

.button-tag {
  background-color:rgb(255,164,28);
  border: none;
  width: 110px;
  height: 30px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}