p {
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 0;
   margin-top: 0;
   text-align: center;
}


.title { 
    font-weight: bold; 
    font-size: 35px;
    margin-bottom: 10px;
}

.delivery-title {
    text-decoration: underline;
}