.text-box {
    width: 500px;
    font-size: 16px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}