p {
    font-family: Arial;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 0;
}

.email-text {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    width: 400px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 16px;
}

.privacy-policy {
    padding-bottom: 20px;
    font-size: 16px;
}


.agree-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border-radius: 30px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    font-size: 20px;
    padding-bottom: 16px;
}