.photo {
    display: block;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;

}

.search-bar {
    border-radius: 30px;
    border: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    width: 500px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    
}