p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
    background-color: rgb(33, 33, 33);
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.title {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.text {
color: rgb(160, 160, 160);
}


