.cat-photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.text {
    font-size: 18px; 
    border: none;
    width: 300px;
    vertical-align: middle;
}

.tweet-button {
    font-size: 18px;
    color: white;
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    font-weight: bold;
    vertical-align: middle;
}

.tweet-box {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 480px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

