p {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 0; 
}

.video-title {

    font-weight: bold; 
    font-size: 18px; 
    width: 280px;
    line-height: 24px;
    margin-bottom: 5px;

}

.video-stats { 
    font-size: 14px;
    color: #606060;
    margin-top: 0;
    margin-bottom: 20px; 
}   

.video-author { 
    color: #606060;
    font-size: 14px;
    margin-top: 0; 
    margin-bottom: 20; 
}

.video-text { 
    width: 280px;
    color: #606060;
    font-size: 14px;
    line-height: 22px; 
    margin-top: 0; 
    margin-bottom: 100px; 
}


.apple-text { 
    margin-bottom: 50px; 
    font-size: 14px;
    background-color: #e34140;
    color: white; 
    text-align: center;
    padding-top: 18px; 
    padding-bottom: 18px;
}

.shop-link { 
    cursor: pointer;
}

.shop-link:hover { 
    text-decoration: underline;
}



